body {
    background-color: rgb(36, 232, 10);
}

button {
    background-color: aqua;
}

label {
    font-size: x-large;
    font-weight: bolder;
}
input {
    background-color: beige;
}

h1 {
    font-family: "Honk", system-ui;
    font-size: 122px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
}

@media (max-width: 1280px) {
    h1 {
        font-size: 100px;
    }
}

@media (max-width: 767px) {
    h1 {
        font-size: 55px;
    }
}

@media (max-width: 412px) {
    label {
        font-size: medium;
    }
}
