@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@font-face {
  font-family: "VIPESRG";
  src: url("../../assets/fonts/VIPESRG_.TTF");
}

body {
  background-color: #fbfaf7;
}

h3, h2 {
  font-family: "Notable", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: italic;
}

#logo {
    font-family: 'Share Tech Mono', monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 1.63rem;
}

#logo p {
    color: black;
    overflow: hidden;
    margin-inline: auto;
    white-space: nowrap;
    border-right: 1px solid;
    
    animation: typing 2s steps(15)forwards, blink 1s step-end infinite;
}

a {
    text-decoration: none;
    color: inherit;
}

@keyframes typing {
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}

@keyframes blink {
    50%{
        border-color: transparent;
    }
}

.nav-item {
    border: none;
    font-family: "Orbitron", sans-serif;
    font-size: large;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: black;
    
}

.modal-title {
    font-family: 'Share Tech Mono', monospace;
    font-size: xx-large;
    font-weight: bold;
    color: #ff4365;

}




.form-control:focus {
  border-color: skyblue;         /* your custom border color */
  box-shadow: 0 0 0 0.25rem rgba(255, 67, 101, 0.25); /* matching glow */
}

.nav-link {
    color: black;
}
.nav-link:visited {
    color: black;
  }
  
.nav-link:hover {
    color: tomato;
  }

.nav-link.pink:hover {
    color: #ff4365;
}

  
.nav-link:active {
    color: greenyellow;
  }

.classic {
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
    color: black;
    background-color: #d4d0c8;
    border: 2px solid #fff;
    padding: 10px 20px;
    box-shadow: inset 2px 2px 0 #808080, inset -2px -2px 0 #000000; 
    text-shadow: 1px 1px 0 #ffffff;
    cursor: pointer;
    user-select: none;
    image-rendering: pixelated;
  }

.modal-footer>.classic {
    padding: 8px;
}

.modal-content {
    border-color: #00FF00;
    border-width: 5px;
}

.custom-close {
  font-size: 2rem;
  color: #ff4365; 
  background: none;
  border: none;
}

.custom-close:hover {
  color: #ff6f91; 
}

.nav-link.classic:hover {
    background-color: greenyellow;
  }

.gray {
    background-color: rgba(128, 128, 128, 0.359);
}

.accordion-button:not(.collapsed) {
  background-color: greenyellow  !important; /* Grey */
  color: tomato !important; /* Optional: change text to white */
}

.accordion-button:focus {
  box-shadow: 0 0 0 0.25rem #dcdada  !important; /* Grey glow */
}


.name {
  font-family: "VIPESRG", monospace;
  color: rgb(44, 44, 44);
  
}
 
.brd {
    border-right: 3px solid rgb(96, 95, 95);
    padding-right: 90px;
}

.main {

    background-color: rgb(41, 40, 40);
    font-family: 'Fira Code', monospace;
    color: #00FF00;;
    padding: 20px;
    margin: 0;
    font-size: x-large;
}

.bash {
  font-size: xx-large
}

/* >= 1281px */
@media (min-width: 1281px) {
  .media,
  .media * {
    font-size: 4.7rem;
    font-weight: 400;
    line-height: 1.05;
  }

  .brd {
    padding-right: 145px;
  }

  .name {
    font-size: 5.6rem;
  }
}

/* <= 1280px */
@media (max-width: 1280px) {
  .media {
    font-size: 3rem;
    font-weight: 400;
  }

  .brd {
    padding-right: 110px;
  }

  .name {
    font-size: 3.7rem;
  }
}

/* <= 1024px */
@media (max-width: 1024px) {
  .media {
    font-size: 2.3rem;
    font-weight: 400;
  }

  .brd {
    padding-right: 95px;
  }

  .name {
    font-size: 3rem;
  }
}

/* <= 912px */
@media (max-width: 912px) {
  .media {
    font-size: 1.8rem;
    font-weight: 400;
  }

  .brd {
    padding-right: 85px;
  }

  .main {
    font-size: large;
  }

  .bash {
    font-size: x-large;
  }

  .name {
    font-size: 2.5rem;
  }
}

/* <= 768px */
@media (max-width: 768px) {
  .media {
    font-size: 1.6rem;
    font-weight: 400;
  }

  .name {
    font-size: 1.5rem;
  }
}





.music img {
  width: 300px;
}

footer {
  background-color: rgb(248, 249, 250);
}

#art {
  
}










